<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fast.dev.platform.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="fast.dev.platform.android.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="fast-dev-platform.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="fast.dev.platform.android.model.User,fast.dev.platform.android.model.BrowsingHistory" />

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="fast.dev.platform.android.activity.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme.LoadingPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fast.dev.platform.android.activity.MainActivity"
            android:label="@string/home_text"
            android:theme="@style/MyTheme.NoActionBar.Light" >
        </activity>
        <activity
            android:name="fast.dev.platform.android.activity.BootActivity"
            android:theme="@style/MyTheme.FullscreenAppTheme" >
        </activity>
        <activity
            android:name="fast.dev.platform.android.activity.account.LoginActivity"
            android:label="@string/login_text"
            android:theme="@style/MyTheme.NoActionBar.Light.Translucent"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="fast.dev.platform.android.activity.account.ProfileActivity" >
        </activity>
        <activity android:name="fast.dev.platform.android.activity.account.RegisterActivity" >
        </activity>
        <activity android:name="fast.dev.platform.android.activity.account.ModifyPasswordActivity" >
        </activity>
        <activity
            android:name="fast.dev.platform.android.activity.SettingsActivity"
            android:theme="@style/MyTheme.NoActionBar.Light" >
        </activity>
        <activity
            android:name=".activity.CheeseDetailActivity"
            android:theme="@style/MyTheme.NoActionBar.Light"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
    </application>

</manifest>